.login {
  
  width: 80%;
  padding: 8% 0 0;
  margin: auto;
 
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF; 
  max-width: 360px;
  margin: 25% auto 25% ;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: 'Roboto', sans-serif;
}
.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {  
  background: #9c27b0 ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;  
  cursor: pointer;
}

.form p{
    font-size: 0.8em;
}



body {
  background: #ce93d8;
     
}